* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1 {
  color: rgb(62, 67, 65);
  padding-left: 20px;
  padding-top: 20px;
}

.pT {
  color: rgb(62, 67, 65);
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.div-text {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-main {
  background-color: rgb(195, 202, 202);
  border-radius: 5px;
  border-color: rgb(195, 202, 202);
}

.container-btn {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn {
  background-color: aquamarine;
  padding: 5px;
  border-radius: 5px;
  border-color: aquamarine;
  color: white;
}

.textMachine {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-clue {
  border: rgb(184, 180, 180) 5px solid;
  margin-bottom: 5px;
  width: 300px;
}

.p-try {
  border: rgb(184, 180, 180) 5px solid;
  width: 300px;
}